<div class="dashboard-bidbase dashboard-container">
    <span style="font-size: 16px" class="pull-right">
        <a href="" ng-if="editMode" title="edit dashboard" ng-click="editDashboardDialog()">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
        <a href="" title="{{editMode ? 'Save dashboard' : 'Edit dashboard'}}" ng-click="toggleEditMode()">
            <i class="glyphicon glyphicon-edit" ng-show="!editMode || editMode === 'false'"></i>
            <i class="glyphicon glyphicon-floppy-disk" ng-show="editMode === 'true'"></i>
        </a>
    </span>
    <div class="dashboard" ng-class="editClass">
        <div ng-repeat="row in model.rows" class="row" ng-class="row.styleClass">
            <div ng-repeat="col in row.columns" class="column" ng-class="col.styleClass">
                <div class="droppable-column" ui-sortable="sortableOptions" ng-model="col.widgets">
                    <div class="widgets" ng-repeat="definition in col.widgets">
                        <adf-widget definition="definition" column="col" edit-mode="{{editMode}}" collapsible="collapsible" />
                    </div>
                </div>
                <a href="" ng-if="editMode" title="Add new widget" class="addWidgetBtn" ng-click="addWidgetDialog($parent.$parent.$index, $parent.$index)">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </a>
            </div>
        </div>

    </div>

</div>